In [1]:
import numpy as np
import pandas as pd
import os

# Building a single dataframe

In [2]:
# Makes a function to get thge station data from a csv, and turns it into a dataframe. 
def process_data(file):
    
    df1 = pd.read_csv(file, skiprows=30)
    df1.drop(columns = ['S_G', 'BS', 'DwBS', 'BS%'], inplace = True)
    df1['Year'] = int(file.split('_')[-2])
    df1['Month'] = int(file.split('_')[-1].split('.')[0])
    return df1

In [4]:
# Grabs the data from each csv. 
canada_df_list = []
path = './data/Original_Canada_data/Canada1917-2017/'
for file in os.listdir(path):
    try:
        canada_df_list.append(process_data(path + file))
    except:
        print(path + file)
        pass

./data/Original_Canada_data/Canada1917-2017/.ipynb_checkpoints

In [5]:
# Grabs the data from each csv in the second set of data. 

path = './data/Original_Canada_data/Canada_pt2/'
for file in os.listdir(path):
    try:
        canada_df_list.append(process_data(path + file))
    except:
        print(path + file)
        pass

./data/Original_Canada_data/Canada_pt2/.ipynb_checkpoints

In [6]:
# Concatieates all the dataframes in the canada_df_list inro one df
canada_df_raw = pd.concat(canada_df_list, ignore_index=True)

In [10]:
canada_df = canada_df_raw

In [12]:
canada_df.head()

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,S%N,P,DwP,P%N,Pd,HDD,CDD,Clim_ID,Year,Month
0,BEAR CREEK,48.500,-124.000,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,415.3,0.0,NaN,23.0,NaN,NaN,1010720,1917,1
1,BEAVER LAKE,48.500,-123.350,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,122.5,0.0,NaN,17.0,NaN,NaN,1010774,1917,1
2,COWICHAN,48.417,-123.700,BC,1.3,0.0,NaN,10.0,0.0,-13.9,...,NaN,114.7,0.0,NaN,13.0,517.4,0.0,1012008,1917,1
3,COWICHAN BAY CHERRY POINT,48.711,-123.557,BC,1.3,0.0,NaN,10.6,0.0,-13.9,...,NaN,87.7,0.0,NaN,9.0,516.6,0.0,1012010,1917,1
4,GOLDSTREAM LAKE,48.450,-123.550,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,223.5,0.0,NaN,18.0,NaN,NaN,1013240,1917,1

# Clean New Dataframe

In [13]:
# Reorders the index to be more intuitve off of month and year.
canada_df = canada_df_raw.sort_values(['Year','Month','Stn_Name'],ignore_index=True)
canada_df

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,S%N,P,DwP,P%N,Pd,HDD,CDD,Clim_ID,Year,Month
0,ABITIBI POST,48.717,-79.367,QC,-19.6,0.0,NaN,1.7,0.0,-38.3,...,NaN,22.9,0.0,NaN,5.0,1164.5,0.0,7090050,1917,1
1,AGASSIZ CDA,49.243,-121.760,BC,0.3,0.0,-3.1,8.9,0.0,-18.3,...,406,256.5,0.0,107,20.0,549.4,0.0,1100120,1917,1
2,ALBERNI BEAVER CREEK,49.367,-124.933,BC,0.5,0.0,NaN,9.4,0.0,-16.7,...,NaN,136.1,0.0,NaN,13.0,542.1,0.0,1030180,1917,1
3,ALERT BAY,50.583,-126.933,BC,3.2,0.0,NaN,8.9,0.0,-11.1,...,NaN,186,0.0,NaN,21.0,460.1,0.0,1020270,1917,1
4,ALIX,52.383,-113.167,AB,-15.4,0.0,NaN,6.7,0.0,-47.2,...,NaN,42,0.0,NaN,9.0,1036.2,0.0,3020120,1917,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835893,YOHIN,61.242,-123.742,NT,-16.1,16.0,NaN,12.5,15.0,-39.5,...,NaN,NaN,NaN,NaN,NaN,510.9,0.0,2204300,2017,12
1835894,YOHO PARK,51.443,-116.345,BC,-14.6,0.0,NaN,-1.8,0.0,-34.4,...,NaN,10.8,0.0,NaN,4.0,1010.2,0.0,11790J1,2017,12
1835895,YORKTON,51.265,-102.464,SK,-13.3,0.0,NaN,4.2,0.0,-35.9,...,NaN,8.2,0.0,NaN,3.0,969.7,0.0,4019073,2017,12
1835896,YORKTON,51.265,-102.462,SK,-13.7,3.0,NaN,4.1,3.0,-35.5,...,NaN,0,3.0,NaN,0.0,887.3,0.0,4019075,2017,12
1835897,ZEBALLOS MURAUDE CREEK,50.053,-126.779,BC,3.4,0.0,NaN,16.5,0.0,-5.0,...,NaN,105.1,0.0,NaN,10.0,451.8,0.0,1039035,2017,12

In [14]:
# Shows a table that gives basic statistical data, for each colunn that has numerical data.
canada_df.describe()

,Lat,Long,Tm,DwTm,D,Tx,DwTx,Tn,DwTn,S,DwS,DwP,Pd,HDD,CDD,Year,Month
count,1.835478e+06,1.835478e+06,1.521092e+06,1.521092e+06,571209.000000,1.525837e+06,1.525837e+06,1.525529e+06,1.525529e+06,1.666018e+06,1.666018e+06,1.776131e+06,1.776132e+06,1.521092e+06,1.521092e+06,1.835898e+06,1.835898e+06
mean,5.004811e+01,-9.620463e+01,3.838740e+00,1.004419e+00,-0.232763,1.853468e+01,8.351692e-01,-1.082070e+01,8.089155e-01,1.438459e+01,4.770020e-01,6.661902e-01,8.730172e+00,4.231030e+02,8.200875e+00,1.975797e+03,6.517412e+00
std,5.142950e+00,2.283881e+01,1.140346e+01,3.533881e+00,2.402592,1.093696e+01,3.175385e+00,1.431251e+01,3.150751e+00,2.563321e+01,2.830718e+00,3.101179e+00,4.763549e+00,3.289856e+02,2.069718e+01,2.436243e+01,3.410709e+00
min,0.000000e+00,-1.410000e+02,-5.000000e+01,0.000000e+00,-23.300000,-5.210000e+01,0.000000e+00,-6.300000e+01,0.000000e+00,-3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.917000e+03,1.000000e+00
25%,4.643300e+01,-1.165180e+02,-4.300000e+00,0.000000e+00,-1.400000,9.800000e+00,0.000000e+00,-2.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.373000e+02,0.000000e+00,1.960000e+03,4.000000e+00
50%,4.941700e+01,-1.007500e+02,5.600000e+00,0.000000e+00,-0.100000,2.000000e+01,0.000000e+00,-6.500000e+00,0.000000e+00,8.000000e-01,0.000000e+00,0.000000e+00,8.000000e+00,3.617000e+02,0.000000e+00,1.978000e+03,7.000000e+00
75%,5.183300e+01,-7.518300e+01,1.330000e+01,0.000000e+00,1.100000,2.800000e+01,0.000000e+00,6.000000e-01,0.000000e+00,1.980000e+01,0.000000e+00,0.000000e+00,1.200000e+01,6.569000e+02,3.500000e+00,1.995000e+03,9.000000e+00
max,8.251800e+01,8.100000e+00,2.790000e+01,3.000000e+01,16.700000,5.000000e+01,3.000000e+01,2.940000e+01,3.000000e+01,7.259000e+02,3.000000e+01,3.000000e+01,3.100000e+01,2.089000e+03,2.726000e+02,2.017000e+03,1.200000e+01

In [15]:
# Counts all null values in each column 
canada_df.isnull().sum()

Stn_Name          0
Lat             420
Long            420
Prov              0
Tm           314806
DwTm         314806
D           1264689
Tx           310061
DwTx         310061
Tn           310369
DwTn         310369
S            169880
DwS          169880
S%N         1403908
P             59766
DwP           59767
P%N         1240210
Pd            59766
HDD          314806
CDD          314806
Clim_ID           0
Year              0
Month             0
dtype: int64

In [16]:
# This shows all the rows with a missing 'Tm' valure and, a missisng 'Tn' or 'Tx' value.
# This does not give enough temp data for us to fill in the 'Tm' value for that row.
canada_df[(canada_df['Tm'] != canada_df['Tm']) & 
          ((canada_df['Tx'] != canada_df['Tx']) | (canada_df['Tn'] != canada_df['Tn']))
         ]

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,S%N,P,DwP,P%N,Pd,HDD,CDD,Clim_ID,Year,Month
5,ALKALI LAKE,51.783,-122.283,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25.2,0.0,NaN,9.0,NaN,NaN,1090335,1917,1
13,ANTICOSTI HEATH POINT,49.100,-61.700,QC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,131,0.0,NaN,10.0,NaN,NaN,7050198,1917,1
15,ANTICOSTI WEST POINT,49.867,-64.533,QC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,135.8,0.0,NaN,17.0,NaN,NaN,7050210,1917,1
34,BASHAW,52.683,-112.867,AB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35.6,0.0,NaN,5.0,NaN,NaN,3010535,1917,1
38,BEAR CREEK,48.500,-124.000,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,415.3,0.0,NaN,23.0,NaN,NaN,1010720,1917,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835834,VICTORIA FRANCIS PARK,48.476,-123.443,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,132.8,3.0,NaN,11.0,NaN,NaN,1018605,2017,12
1835855,WAWA A,47.967,-84.786,ON,NaN,NaN,NaN,16.4,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6059407,2017,12
1835867,WHITECOURT A,54.144,-115.787,AB,NaN,NaN,NaN,9.2,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3067373,2017,12
1835878,WINNIPEG CHARLESWOOD 2,49.850,-97.273,MB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.6,0.0,NaN,5.0,NaN,NaN,5023225,2017,12
1835886,WROXETER,43.863,-81.152,ON,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,43.6,11.0,NaN,14.0,NaN,NaN,6129660,2017,12

In [17]:
# This drops all rows that have a missing 'Tm' value
canada_df = canada_df.drop(canada_df[(canada_df['Tm'] != canada_df['Tm']) & 
                                     ((canada_df['Tx'] != canada_df['Tx']) |
                                      (canada_df['Tn'] != canada_df['Tn']))].index
                          )

In [18]:
# turns the indexs of the rows with missing 'S' values into a list
missing_S_idx = list(canada_df[canada_df['S'] != canada_df['S']].index)

In [19]:
# Makes a pivot table showing the average 'S' by station and month
snow_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'S'))

In [20]:
# Replaces missing values in 'S' with the avgearge snowfall based on month and station
S_group =  canada_df.groupby('Month')['S'].mean()
for idx in missing_S_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_S = snow_pt.loc[station,month]    
            
            if avg_S == avg_S:
                canada_df.at[idx,'S'] = avg_S
          
        # some staions have null values for a month , so using the average snowfallin the entire dataframe for that month 
            elif avg_S != avg_S:
                canada_df.at[idx,'S'] = S_group[month]
                
# some stations have no data for 'S', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'S'] =S_group[month]

In [21]:
# Makes a pivot table showing the average 'S' by station and month
DwS_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'DwS'))

In [22]:
# turns the indexs of the rows with missing 'DwS' values into a list
missing_DwS_idx = list(canada_df[canada_df['DwS'] != canada_df['DwS']].index)

In [24]:
# Replaces missing values in 'DwS' with the avgearge based on month and station
DwS_group = canada_df.groupby('Month')['DwS'].mean()
for idx in missing_DwS_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_DwS = DwS_pt.loc[station,month]    
            
            if avg_DwS == avg_DwS:
                canada_df.at[idx,'DwS'] = avg_DwS
          
        # some staions have null values for a month , so using the average 'DwS in the entire dataframe for that month 
            elif avg_DwS != avg_DwS:
                canada_df.at[idx,'DwS'] = DwS_group[month]
                
# some stations have no data for 'DwS', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'DwS'] =DwS_group[month]

In [25]:
# Drops the 'D' and 'P%N' columns since the amount of  missing data
canada_df.drop(columns = ['D', 'P%N'], inplace = True)

In [26]:
# Drops the 'S%N' columns since the amount of  missing data
canada_df.drop(columns ='S%N', inplace = True)

In [27]:
canada_df.isnull().sum()

Stn_Name        0
Lat             0
Long            0
Prov            0
Tm            909
DwTm          909
Tx             40
DwTx           40
Tn             18
DwTn           18
S               0
DwS             0
P           52334
DwP         52335
Pd          52334
HDD           909
CDD           909
Clim_ID         0
Year            0
Month           0
dtype: int64

In [28]:
# The values with missing precicpitation data are missing the data from the relevent rows also.
canada_df[(canada_df['P']!=canada_df['P'])].loc[:,'P':]

           P  DwP  Pd     HDD  CDD  Clim_ID  Year  Month
16       NaN  NaN NaN   810.0  0.0  8200150  1917      1
22       NaN  NaN NaN  1411.3  0.0  6020381  1917      1
26       NaN  NaN NaN   937.0  0.0  6160465  1917      1
61       NaN  NaN NaN  1022.8  0.0  3030856  1917      1
68       NaN  NaN NaN  1164.9  0.0  4011090  1917      1
...      ...  ...  ..     ...  ...      ...   ...    ...
1835856  NaN  NaN NaN   893.3  0.0  6049443  2017     12
1835858  NaN  NaN NaN   465.1  0.0  1108824  2017     12
1835860  NaN  NaN NaN   650.4  0.0  6119M51  2017     12
1835868  NaN  NaN NaN   899.6  0.0  2101303  2017     12
1835893  NaN  NaN NaN   510.9  0.0  2204300  2017     12

[52334 rows x 8 columns]

In [29]:
# Treats '######' as a null value for the column 'P'
canada_df['P'] = np.where(canada_df['P'] == '######',np.nan,canada_df['P'])

In [30]:
# Changes the data type of 'P' to float
canada_df['P'] = canada_df['P'].astype(float)

In [31]:
# turns the indexs of the rows with missing 'P' values into a list
missing_P_idx = list(canada_df[canada_df['P'] != canada_df['P']].index)

In [32]:
# Makes a pivot table showing the average 'P' by station and month
P_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'P'))

In [34]:
# Replaces missing values in 'P' with the avgearge based on month and station
P_group = canada_df.groupby('Month')['P'].mean()
for idx in missing_P_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_P = P_pt.loc[station,month]    
            
            if avg_P == avg_P:
                canada_df.at[idx,'P'] = avg_P
          
        # some staions have null values for a month , so using the average 'P in the entire dataframe for that month 
            elif avg_P != avg_P:
                canada_df.at[idx,'P'] = P_group[month]
                
# some stations have no data for 'P', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'P'] =P_group[month]

In [35]:
# turns the indexs of the rows with missing 'Pd' values into a list
missing_Pd_idx = list(canada_df[canada_df['Pd'] != canada_df['Pd']].index)

In [36]:
# Makes a pivot table showing the average 'Pd' by station and month
Pd_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'Pd'))

In [37]:
# Replaces missing values in 'Pd' with the avgearge based on month and station

for idx in missing_Pd_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_Pd = Pd_pt.loc[station,month]    
            
            if avg_Pd == avg_Pd:
                canada_df.at[idx,'Pd'] = avg_Pd
          
        # some staions have null values for a month , so using the average 'Pd in the entire dataframe for that month 
            elif avg_Pd != avg_Pd:
                canada_df.at[idx,'Pd'] = canada_df.groupby('Month')['Pd'].mean()[month]
                
# some stations have no data for 'Pd', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'Pd'] =canada_df.groupby('Month')['Pd'].mean()[month]

In [38]:
# turns the indexs of the rows with missing 'DwP' values into a list
missing_DwP_idx = list(canada_df[canada_df['DwP'] != canada_df['DwP']].index)

In [39]:
# Makes a pivot table showing the average 'Pd' by station and month
DwP_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'DwP'))

In [40]:
# Replaces missing values in 'DwP' with the avgearge based on month and station

for idx in missing_DwP_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_DwP = DwP_pt.loc[station,month]    
            
            if avg_DwP == avg_DwP:
                canada_df.at[idx,'DwP'] = avg_DwP
          
        # some staions have null values for a month , so using the average 'DwP in the entire dataframe for that month 
            elif avg_DwP != avg_DwP:
                canada_df.at[idx,'DwP'] = canada_df.groupby('Month')['DwP'].mean()[month]
                
# some stations have no data for 'DwP', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'DwP'] =canada_df.groupby('Month')['DwP'].mean()[month]

In [41]:
# makes a list of all indexs that have a missing 'Tm' value
missing_Tm_idx = list(canada_df[canada_df['Tm'] != canada_df['Tm']].index)

In [42]:
# Averages out the high and low for the month to get the value for the missing monthly average 
for idx in missing_Tm_idx:
    
        canada_df.at[idx,'Tm'] = (canada_df.at[idx,'Tn'] + canada_df.at[idx,'Tx']) / 2

In [43]:
# makes a list of all indexs that have a missing 'DwTm' value
missing_DwTm_idx = list(canada_df[canada_df['DwTm'] != canada_df['DwTm']].index)

In [44]:
# Replaces the missing 'DwTm' values with 0 
for idx in missing_DwTm_idx:
    
        canada_df.at[idx,'DwTm'] = 0

In [45]:
# makes a list of all indexs that have a missing 'DwTx' value
missing_DwTx_idx = list(canada_df[canada_df['DwTx'] != canada_df['DwTx']].index)

In [46]:
# Replaces the missing 'DwTx' values with 0 
for idx in missing_DwTx_idx:
    
        canada_df.at[idx,'DwTx'] = 0

In [47]:
# makes a list of all indexs that have a missing 'Tx' value
missing_Tx_idx = list(canada_df[canada_df['Tx'] != canada_df['Tx']].index)

# Makes a pivot table showing the average 'Pd' by station and month
Tx_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'Tx'))

# Replaces missing values in 'Tx' with the avgearge based on month and station

for idx in missing_Tx_idx:
        station = canada_df.at[idx,'Stn_Name']
        month = canada_df.at[idx,'Month']
        avg_Tx = Tx_pt.loc[station,month]    
            
        canada_df.at[idx,'Tx'] = avg_Tx

In [48]:
# makes a list of all indexs that have a missing 'HDD' and 'CDD' values
missing_HDD_idx = list(canada_df[(canada_df['HDD'] != canada_df['HDD']) & canada_df['CDD'] != canada_df['CDD']].index)

In [49]:
# Makes a pivot table showing the average 'HDD' by station and month
HDD_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'HDD'))

In [50]:
# Makes a pivot table showing the average 'CDD' by station and month
CDD_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'CDD'))

In [51]:
# Replaces missing values in 'HDD' and "CDD" with the avgearge based on month and station

for idx in missing_HDD_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_HDD = HDD_pt.loc[station,month]    
            avg_CDD = CDD_pt.loc[station,month]


            if avg_HDD == avg_HDD:
                canada_df.at[idx,'HDD'] = avg_HDD

            elif avg_HDD != avg_HDD:
                canada_df.at[idx,'HDD'] = canada_df.groupby('Month')['HDD'].mean()[month]


            if avg_CDD == avg_CDD:
                canada_df.at[idx,'CDD'] = avg_CDD

            elif avg_CDD != avg_CDD:
                canada_df.at[idx,'CDD'] = canada_df.groupby('Month')['CDD'].mean()[month]

            # some stations have no data for 'HDD', or 'CDD', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'HDD'] =canada_df.groupby('Month')['HDD'].mean()[month]
            canada_df.at[idx,'CDD'] =canada_df.groupby('Month')['CDD'].mean()[month]

In [52]:
# makes a list of all indexs that have a missing 'Tn' value
missing_Tn_idx = list(canada_df[canada_df['Tn'] != canada_df['Tn']].index)

# Makes a pivot table showing the average 'Pd' by station and month
Tn_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'Tn'))

# Replaces missing values in 'Tn' with the avgearge based on month and station

for idx in missing_Tn_idx:
        station = canada_df.at[idx,'Stn_Name']
        month = canada_df.at[idx,'Month']
        avg_Tn = Tn_pt.loc[station,month]    
            
        canada_df.at[idx,'Tn'] = avg_Tn

In [53]:
# makes a list of all indexs that have a missing 'DwTn' value
missing_DwTn_idx = list(canada_df[canada_df['DwTn'] != canada_df['DwTn']].index)

# Makes a pivot table showing the average 'Pd' by station and month
DwTn_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'DwTn'))

# Replaces missing values in 'DwTn' with the avgearge based on month and station

for idx in missing_DwTn_idx:
        station = canada_df.at[idx,'Stn_Name']
        month = canada_df.at[idx,'Month']
        avg_DwTn = DwTn_pt.loc[station,month]    
            
        canada_df.at[idx,'DwTn'] = avg_DwTn

In [54]:
canada_df.to_csv('./data/canada_all_df.csv')

In [55]:
canada_df.shape

(1522001, 20)

In [56]:
df = pd.read_csv('./data/canada_all_df.csv')

In [57]:
df.shape

(1522001, 21)

In [58]:
df.drop(columns = 'Unnamed: 0',inplace = True)

In [59]:
# Seperates the dataframe into parts contains 100,000 rows each
df1 = df.loc[:100_000,]

df2 = df.loc[100_001:200_000,]

df3 = df.loc[200_001:300_000,]

df4 = df.loc[300_001:400_000,]

df5 = df.loc[400_001:500_000,]

df6 = df.loc[500_001:600_000,]

df7 = df.loc[600_001:700_000,]

df8 = df.loc[700_001:800_000,]

df9 = df.loc[800_001:900_000,]

df10 = df.loc[900_001:1_000_000,]

df11 = df.loc[1_000_001:1_100_000,]

df12= df.loc[1_100_001:1_200_000,]

df13= df.loc[1_200_001:1_300_000,]

df14= df.loc[1_300_001:1_400_000,]

df15= df.loc[1_400_001:,]

In [60]:
# saves the dataframe as 15 different files
df1.to_csv('./data/canada_all_df_pt1.csv', index=False)

df2.to_csv('./data/canada_all_df_pt2.csv', index=False)

df3.to_csv('./data/canada_all_df_pt3.csv', index=False)

df4.to_csv('./data/canada_all_df_pt4.csv', index=False)

df5.to_csv('./data/canada_all_df_pt5.csv', index=False)

df6.to_csv('./data/canada_all_df_pt6.csv', index=False)

df7.to_csv('./data/canada_all_df_pt7.csv', index=False)

df8.to_csv('./data/canada_all_df_pt8.csv', index=False)

df9.to_csv('./data/canada_all_df_pt9.csv', index=False)

df10.to_csv('./data/canada_all_df_pt10.csv', index=False)

df11.to_csv('./data/canada_all_df_pt11.csv', index=False)

df12.to_csv('./data/canada_all_df_pt12.csv', index=False)

df13.to_csv('./data/canada_all_df_pt13.csv', index=False)

df14.to_csv('./data/canada_all_df_pt14.csv', index=False)

df15.to_csv('./data/canada_all_df_pt15.csv', index=False)