### Short Description:
This dataset contains monthly mean_temp of Hanford from **1945 Jan** to **2017 Feb**.
Each row is an observation of the mean_temp and each date is the middle of that month. 866 observations in total.

steps:
> Change **midMonth** to **datetime**

> rename **midMonth** to **date**

> convert **month** to **numeric**

> add columns to represent the data's Continent, Country and City

> add latitude and longtitude of the location

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Datasets/DataWorld/Hanford-station-data/HanfordMonthly.csv')

In [3]:
df.head(3)

     midMonth  year month  meanTemp
0  1945-01-15  1945   Jan      33.7
1  1945-02-15  1945   Feb      38.8
2  1945-03-15  1945   Mar      42.2

In [4]:
df.dtypes

midMonth     object
year          int64
month        object
meanTemp    float64
dtype: object

In [5]:
# convert midMonth to datetime
df['midMonth'] = pd.to_datetime(df['midMonth'])

In [6]:
# convert month to numeric
month_map = {}
count = 1
for i in df['month'].unique():
    month_map[i] = count
    count += 1
    
df['month'] = df['month'].map(month_map)

In [7]:
# renamte midMonth to date
df.rename({'midMonth':'date'}, axis=1, inplace=True)

# renmae meanTemp to mean_temp
df.rename({'meanTemp':'mean_temp'}, axis=1, inplace=True)

In [8]:
# create 3 new column called city, country and continent
df['city'] = 'Hanford'
df['country'] = 'United States'
df['continent'] = 'NA'

In [9]:
# create columns represent this weather station's latitude and longitude
df['lat'] = 46.6
df['lon'] = -119.6

In [10]:
# re-order the df
df = df[['continent','country','city','lat','lon','date','year','month','mean_temp']]

In [11]:
df.head()

,continent,country,city,lat,lon,date,year,month,mean_temp
0,NA,United States,Hanford,46.6,-119.6,1945-01-15,1945,1,33.7
1,NA,United States,Hanford,46.6,-119.6,1945-02-15,1945,2,38.8
2,NA,United States,Hanford,46.6,-119.6,1945-03-15,1945,3,42.2
3,NA,United States,Hanford,46.6,-119.6,1945-04-15,1945,4,50.3
4,NA,United States,Hanford,46.6,-119.6,1945-05-15,1945,5,61.7

In [12]:
# df.to_csv('hanfordmonthly-cleaned.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 866 entries, 0 to 865
Data columns (total 9 columns):
continent    866 non-null object
country      866 non-null object
city         866 non-null object
lat          866 non-null float64
lon          866 non-null float64
date         866 non-null datetime64[ns]
year         866 non-null int64
month        866 non-null int64
mean_temp    866 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 61.0+ KB