In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

First things first:
 - Read in the CSV files, 
 - Verify each has the same column length and column index, 
 - Concatenate them together

In [3]:
houston1 = pd.read_csv('./Houston_TX/Houston1948_1957.csv')
houston2 = pd.read_csv('./Houston_TX/Houston1957_1966.csv')
houston3 = pd.read_csv('./Houston_TX/Houston1966_1975.csv')
houston4 = pd.read_csv('./Houston_TX/Houston1975_1984.csv')
houston5 = pd.read_csv('./Houston_TX/Houston1984_1993.csv')
houston6 = pd.read_csv('./Houston_TX/Houston1993_2002.csv')
houston7 = pd.read_csv('./Houston_TX/Houston2002_2011.csv')
houston8 = pd.read_csv('./Houston_TX/Houston2011_2020.csv')

houston1.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,42,43,49,51,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (42,49,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,46,52) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,46,49,52,55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,19,25,26,27,28,29,31,32,34,36,37,41,42,43,44,46,49,50,52,54,56,58,59,61,69,71,72,88,95,96,97,98,99,100,101,102,103,104,105,106,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,19,25,26,27,28,29,30,31,32,33,41,42,43,46,48,49,50,51,52,53,55,56,58,59,61,69,71,72,82,88,95,96,97,98,99,100,101,102,103,104,105,106,107,111,112,113,114,115,116,117,118,119) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (30,31,41,42,43,51,56,60,62,88) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,99999912918,1948-07-01T00:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-06-27
1,99999912918,1948-07-01T01:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-06-27
2,99999912918,1948-07-01T02:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-06-27
3,99999912918,1948-07-01T03:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-06-27
4,99999912918,1948-07-01T04:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-06-27

In [14]:
#verify the same number of columns
print(houston1.shape)
print(houston2.shape)
print(houston3.shape)
print(houston4.shape)
print(houston5.shape)
print(houston6.shape)
print(houston7.shape)
print(houston8.shape)

(74550, 124)
(73036, 124)
(18824, 124)
(85793, 124)
(92828, 124)
(144885, 124)
(182064, 124)
(99962, 124)

In [15]:
#check column index
print(houston1.columns == houston2.columns)
print(houston2.columns == houston3.columns)
print(houston3.columns == houston4.columns)
print(houston4.columns == houston5.columns)
print(houston5.columns == houston6.columns)
print(houston6.columns == houston7.columns)
print(houston7.columns == houston8.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

In [29]:
#concatenate
houston_list = [houston1, houston2, houston3, houston4, houston5, houston6, houston7, houston8]

houston_all_data = pd.concat(houston_list, ignore_index=True)

In [30]:
#sanity check: there are 124 columns
len(houston_all_data.columns.tolist())

124

#### Separating, dropping columns

The dataframe rows represent measurements taken at or determined over different periods of time, e.g. **Hourly** Data or **Daily** Data or **Monthly** Data. We'll group these in separate dataframes to reduce null counts and make more manageable.

We'll also drop a few utterly useless columns, either blank or representing things we don't care about (e.g. latitude/longitude of the backup equipment).

In [31]:
#### For example, Houston has had more than 0 Thunderstorms since the 1940s (source: I grew up in Houston, TX)
#### Therefore, in my judgement this column should be removed

column_list =['TStorms']
             
[print(f'{i}: {houston_all_data[i].value_counts().sum()}') for i in column_list]
#houston_all_data['HourlyPresentWeatherType'].value_counts().sum()

TStorms: 0

[None]

#### Defining dictionaries to drop
The two dictionaries here are:
 - ##### drop_columns
     - These should be removed entirely
 - ##### semi_drop
     - Some of these should be removed, some should be kept depending on your use case
     - They're grouped by time interval (hourly, daily, monthly) and alphabetically

In [32]:
drop_columns = ['HeavyFog', 'REM', 'REPORT_TYPE.1', 'SOURCE.1',
               
                'BackupDirection',"BackupDistance",'BackupDistanceUnit','BackupElements','BackupElevation',
                'BackupElevationUnit','BackupEquipment','BackupLatitude','BackupLongitude','BackupName',
                
                'MonthlyAverageRH', 'MonthlyDewpointTemperature', 
                
                'TStorms',
             
                'WindEquipmentChangeDate'
             ]

semi_drop = ['AWND',
                           
             'CDSD','CLDD','DSNW',
             
             ###########################################################################################################
             # daily data
             'DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             
             ##########################################################################################################
             # # hourly data
             'HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
             
             ##########################################################################################################
             # monthly data
             'MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             
             
             'NormalsCoolingDegreeDay', 'NormalsHeatingDegreeDay',
            
             
             ##########################################################################################################
             # short duration(?) data
             'ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             
             'Sunrise','Sunset',
             ] 
             ############ close dictionary ################

drop_columns.extend(semi_drop)

houston8.drop(columns = drop_columns)

           STATION                 DATE REPORT_TYPE  SOURCE
0      72244012918  2011-01-02T00:53:00       FM-15       7
1      72244012918  2011-01-02T01:53:00       FM-15       7
2      72244012918  2011-01-02T02:53:00       FM-15       7
3      72244012918  2011-01-02T03:53:00       FM-15       7
4      72244012918  2011-01-02T04:53:00       FM-15       7
...            ...                  ...         ...     ...
99957  72244012918  2020-01-01T20:53:00       FM-15       7
99958  72244012918  2020-01-01T21:53:00       FM-15       7
99959  72244012918  2020-01-01T22:53:00       FM-15       7
99960  72244012918  2020-01-01T23:53:00       FM-15       7
99961  72244012918  2020-01-01T23:59:00       SOD         6

[99962 rows x 4 columns]

In [49]:
houston_all_data['DATE'] = pd.to_datetime(houston_all_data['DATE'])
houston_all_data['DATE']

0        1948-07-01 00:00:00
1        1948-07-01 01:00:00
2        1948-07-01 02:00:00
3        1948-07-01 03:00:00
4        1948-07-01 04:00:00
                 ...
771937   2020-01-01 20:53:00
771938   2020-01-01 21:53:00
771939   2020-01-01 22:53:00
771940   2020-01-01 23:53:00
771941   2020-01-01 23:59:00
Name: DATE, Length: 771942, dtype: datetime64[ns]

#### DataFrame lists of features
These lists define the columns that will make up each DataFrame, grouped by time interval (daily, hourly, monthly, whatever "short duration" means)

In [50]:
             ###########################################################################################################
             # daily data
daily_list = ['DATE','DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             ]

             ##########################################################################################################
             # # hourly data
hourly_list = ['DATE','HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
              ]

             ##########################################################################################################
             # monthly data
monthly_list = ['DATE','MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             ]
             
             ##########################################################################################################
             # short duration(?) data
short_dur_list = ['DATE','ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             ]

#### Make the DataFrames

In [96]:
houston_daily = houston_all_data[daily_list].copy()
houston_hourly = houston_all_data[hourly_list].copy()
houston_monthly = houston_all_data[monthly_list].copy()
houston_short_dur = houston_all_data[short_dur_list].copy()

In [97]:
houston_hourly['HourlyDewPointTemperature'].value_counts()

73      24937
72      21576
75      20473
70      19674
73.0    15832
        ...
88          1
-3          1
83          1
57s         1
0           1
Name: HourlyDewPointTemperature, Length: 241, dtype: int64

#### NOTE
Right now most of the columns need a bit more scrubbing, accounting for nulls, datatype conversion, etc.

In [98]:
houston_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771942 entries, 0 to 771941
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DATE                       771942 non-null  datetime64[ns]
 1   HourlyAltimeterSetting     534142 non-null  object
 2   HourlyDewPointTemperature  655483 non-null  object
 3   HourlyDryBulbTemperature   655912 non-null  object
 4   HourlyPrecipitation        224787 non-null  object
 5   HourlyPresentWeatherType   137795 non-null  object
 6   HourlyPressureChange       114684 non-null  object
 7   HourlyPressureTendency     115463 non-null  float64
 8   HourlyRelativeHumidity     655473 non-null  object
 9   HourlySeaLevelPressure     494506 non-null  object
 10  HourlySkyConditions        277609 non-null  object
 11  HourlyStationPressure      307769 non-null  object
 12  HourlyVisibility           685780 non-null  object
 13  HourlyWetBulbTemperature   307672 non-null  object
 14  HourlyWindDirection        679428 non-null  object
 15  HourlyWindGustSpeed        45237 non-null   object
 16  HourlyWindSpeed            686058 non-null  object
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 100.1+ MB

In [117]:
houston_daily.to_csv('./Houston_TX/houston_daily.csv')
houston_hourly.to_csv('./Houston_TX/houston_hourly.csv')
houston_monthly.to_csv('./Houston_TX/houston_monthly.csv')
houston_short_dur.to_csv('./Houston_TX/houston_short_dur.csv')