In [16]:
import numpy as np
import pandas as pd
import os

# Building a single dataframe

In [2]:
# Makes a function to get thge station data from a csv, and turns it into a dataframe. 
def process_data(file):
    
    df1 = pd.read_csv(file, skiprows=30)
    df1.drop(columns = ['S_G', 'BS', 'DwBS', 'BS%'], inplace = True)
    df1['Year'] = int(file.split('_')[-2])
    df1['Month'] = int(file.split('_')[-1].split('.')[0])
    return df1

In [3]:
# Grabs the data from each station in staion list, from each csv. 
canada_df_list = []
path = '../DataWorld/Canada1917-2017/'
for file in os.listdir(path):
    try:
        canada_df_list.append(process_data(path + file))
    except:
        print(path + file)
        pass

../DataWorld/Canada1917-2017/.ipynb_checkpoints

In [4]:
# Concatieates all the dataframes in the canada_df_list inro one df
canada_df_raw = pd.concat(canada_df_list, ignore_index=True)

# Clean New Dataframe

In [5]:
# Reorders the index to be more intuitve off of month and year.
canada_df = canada_df_raw.sort_values(['Year','Month','Stn_Name'],ignore_index=True)
canada_df

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,S%N,P,DwP,P%N,Pd,HDD,CDD,Clim_ID,Year,Month
0,ABITIBI POST,48.717,-79.367,QC,-19.6,0.0,NaN,1.7,0.0,-38.3,...,NaN,22.9,0.0,NaN,5.0,1164.5,0.0,7090050,1917,1
1,AGASSIZ CDA,49.243,-121.760,BC,0.3,0.0,-3.1,8.9,0.0,-18.3,...,406,256.5,0.0,107,20.0,549.4,0.0,1100120,1917,1
2,ALBERNI BEAVER CREEK,49.367,-124.933,BC,0.5,0.0,NaN,9.4,0.0,-16.7,...,NaN,136.1,0.0,NaN,13.0,542.1,0.0,1030180,1917,1
3,ALERT BAY,50.583,-126.933,BC,3.2,0.0,NaN,8.9,0.0,-11.1,...,NaN,186,0.0,NaN,21.0,460.1,0.0,1020270,1917,1
4,ALIX,52.383,-113.167,AB,-15.4,0.0,NaN,6.7,0.0,-47.2,...,NaN,42,0.0,NaN,9.0,1036.2,0.0,3020120,1917,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499637,YELLOW GRASS,49.817,-104.183,SK,-8.2,0.0,-3.8,5.0,0.0,-26.0,...,310,48.4,0.0,291,9.0,785.5,0.0,4019040,2000,11
1499638,YELLOWKNIFE A,62.463,-114.440,NT,-11.0,0.0,2.7,1.3,0.0,-27.5,...,123,27,0.0,109,6.0,870.5,0.0,2204100,2000,11
1499639,YELLOWKNIFE CS,62.467,-114.450,NT,-10.8,0.0,NaN,2.1,0.0,-26.7,...,NaN,NaN,NaN,NaN,NaN,862.9,0.0,2204155,2000,11
1499640,YOHO NP EMERALD LAKE,51.434,-116.540,BC,-6.0,1.0,NaN,5.0,0.0,-18.0,...,NaN,43.5,0.0,NaN,4.0,696.8,0.0,117R00G,2000,11
1499641,YORKTON A,51.267,-102.467,SK,-8.9,0.0,-2.6,4.3,0.0,-24.1,...,307,46.2,0.0,281,9.0,808.0,0.0,4019080,2000,11

In [6]:
# Shows a table that gives basic statistical data, for each colunn that has numerical data.
canada_df.describe()

,Lat,Long,Tm,DwTm,D,Tx,DwTx,Tn,DwTn,S,DwS,DwP,Pd,HDD,CDD,Year,Month
count,1.499222e+06,1.499222e+06,1.210243e+06,1.210243e+06,443830.000000,1.213688e+06,1.213688e+06,1.213145e+06,1.213145e+06,1.453448e+06,1.453448e+06,1.467205e+06,1.467205e+06,1.210243e+06,1.210243e+06,1.499642e+06,1.499642e+06
mean,4.979224e+01,-9.582673e+01,3.823694e+00,7.706791e-01,-0.398380,1.860966e+01,6.288667e-01,-1.102067e+01,6.177868e-01,1.451014e+01,2.831543e-01,3.844773e-01,8.767114e+00,4.266105e+02,8.229249e+00,1.968607e+03,6.533571e+00
std,4.883639e+00,2.277140e+01,1.138994e+01,3.066763e+00,2.419865,1.088369e+01,2.765416e+00,1.434359e+01,2.737172e+00,2.571517e+01,2.208677e+00,2.505842e+00,4.715014e+00,3.293826e+02,2.064178e+01,2.094127e+01,3.412362e+00
min,0.000000e+00,-1.410000e+02,-5.000000e+01,0.000000e+00,-23.300000,-4.990000e+01,0.000000e+00,-6.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.917000e+03,1.000000e+00
25%,4.635000e+01,-1.164170e+02,-4.400000e+00,0.000000e+00,-1.600000,9.900000e+00,0.000000e+00,-2.220000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.401000e+02,0.000000e+00,1.955000e+03,4.000000e+00
50%,4.935000e+01,-1.000330e+02,5.600000e+00,0.000000e+00,-0.300000,2.000000e+01,0.000000e+00,-6.700000e+00,0.000000e+00,8.000000e-01,0.000000e+00,0.000000e+00,8.000000e+00,3.654000e+02,0.000000e+00,1.972000e+03,7.000000e+00
75%,5.151700e+01,-7.514100e+01,1.330000e+01,0.000000e+00,1.000000,2.800000e+01,0.000000e+00,5.000000e-01,0.000000e+00,2.010000e+01,0.000000e+00,0.000000e+00,1.200000e+01,6.621000e+02,3.500000e+00,1.985000e+03,9.000000e+00
max,8.251800e+01,8.100000e+00,2.690000e+01,3.000000e+01,16.700000,4.500000e+01,3.000000e+01,2.940000e+01,3.000000e+01,7.259000e+02,3.000000e+01,3.000000e+01,3.100000e+01,2.089000e+03,2.726000e+02,2.000000e+03,1.200000e+01

In [7]:
# Counts all null values in each column 
canada_df.isnull().sum()

Stn_Name          0
Lat             420
Long            420
Prov              0
Tm           289399
DwTm         289399
D           1055812
Tx           285954
DwTx         285954
Tn           286497
DwTn         286497
S             46194
DwS           46194
S%N         1145947
P             32437
DwP           32437
P%N         1011463
Pd            32437
HDD          289399
CDD          289399
Clim_ID           0
Year              0
Month             0
dtype: int64

In [8]:
# This shows all the rows with a missing 'Tm' valure and, a missisng 'Tn' or 'Tx' value.
# This does not give enough temp data for us to fill in the 'Tm' value for that row.
canada_df[(canada_df['Tm'] != canada_df['Tm']) & 
          ((canada_df['Tx'] != canada_df['Tx']) | (canada_df['Tn'] != canada_df['Tn']))
         ]

,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,Tn,...,S%N,P,DwP,P%N,Pd,HDD,CDD,Clim_ID,Year,Month
5,ALKALI LAKE,51.783,-122.283,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25.2,0.0,NaN,9.0,NaN,NaN,1090335,1917,1
13,ANTICOSTI HEATH POINT,49.100,-61.700,QC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,131,0.0,NaN,10.0,NaN,NaN,7050198,1917,1
15,ANTICOSTI WEST POINT,49.867,-64.533,QC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,135.8,0.0,NaN,17.0,NaN,NaN,7050210,1917,1
34,BASHAW,52.683,-112.867,AB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35.6,0.0,NaN,5.0,NaN,NaN,3010535,1917,1
38,BEAR CREEK,48.500,-124.000,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,415.3,0.0,NaN,23.0,NaN,NaN,1010720,1917,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499587,WHITE ROCK OCEAN PARK,49.042,-122.876,BC,NaN,NaN,NaN,NaN,NaN,NaN,...,0,67,0.0,38,12.0,NaN,NaN,1108913,2000,11
1499601,WILLMAR,49.417,-102.500,SK,NaN,NaN,NaN,NaN,NaN,NaN,...,232,69,0.0,366,9.0,NaN,NaN,4018960,2000,11
1499612,WINNIPEG SOUTH,49.783,-97.133,MB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.3,0.0,NaN,10.0,NaN,NaN,502M001,2000,11
1499622,WOODROW,49.567,-106.783,SK,NaN,NaN,NaN,NaN,NaN,NaN,...,196,24,0.0,159,5.0,NaN,NaN,4029030,2000,11
1499631,WROXETER,43.863,-81.152,ON,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,159.4,0.0,NaN,13.0,NaN,NaN,6129660,2000,11

In [9]:
# This drops all rows that have a missing 'Tm' value
canada_df = canada_df.drop(canada_df[(canada_df['Tm'] != canada_df['Tm']) & 
                                     ((canada_df['Tx'] != canada_df['Tx']) |
                                      (canada_df['Tn'] != canada_df['Tn']))].index
                          )

In [10]:
# turns the indexs of the rows with missing 'S' values into a list
missing_S_idx = list(canada_df[canada_df['S'] != canada_df['S']].index)

In [11]:
# Makes a pivot table showing the average 'S' by station and month
snow_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'S'))

In [12]:
# Replaces missing values in 'S' with the avgearge snowfall based on month and station

for idx in missing_S_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_S = snow_pt.loc[station,month]    
            
            if avg_S == avg_S:
                canada_df.at[idx,'S'] = avg_S
          
        # some staions have null values for a month , so using the average snowfallin the entire dataframe for that month 
            elif avg_S != avg_S:
                canada_df.at[idx,'S'] = canada_df.groupby('Month')['S'].mean()[month]
                
# some stations have no data for 'S', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'S'] =canada_df.groupby('Month')['S'].mean()[month]

In [13]:
# Makes a pivot table showing the average 'S' by station and month
DwS_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'DwS'))

In [14]:
# turns the indexs of the rows with missing 'DwS' values into a list
missing_DwS_idx = list(canada_df[canada_df['DwS'] != canada_df['DwS']].index)

In [15]:
# Replaces missing values in 'DwS' with the avgearge based on month and station

for idx in missing_DwS_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_DwS = DwS_pt.loc[station,month]    
            
            if avg_DwS == avg_DwS:
                canada_df.at[idx,'DwS'] = avg_DwS
          
        # some staions have null values for a month , so using the average 'DwS in the entire dataframe for that month 
            elif avg_DwS != avg_DwS:
                canada_df.at[idx,'DwS'] = canada_df.groupby('Month')['DwS'].mean()[month]
                
# some stations have no data for 'DwS', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'DwS'] =canada_df.groupby('Month')['DwS'].mean()[month]

In [25]:
# Drops the 'D', 'S%N', and 'P%N' columns since the amount of  missing data
canada_df.drop(columns = ['D', 'P%N', 'S&N'], inplace = True)

In [26]:
canada_df.isnull().sum()

Stn_Name        0
Lat             0
Long            0
Prov            0
Tm             64
DwTm           64
Tx              5
DwTx            5
Tn              0
DwTn            0
S               0
DwS             0
P           26029
DwP         26029
Pd          26029
HDD            64
CDD            64
Clim_ID         0
Year            0
Month           0
dtype: int64

In [27]:
# The values with missing precicpitation data are missing the data from the relevent rows also.
canada_df[(canada_df['P']!=canada_df['P'])].loc[:,'P':]

           P  DwP  Pd     HDD  CDD  Clim_ID  Year  Month
16       NaN  NaN NaN   810.0  0.0  8200150  1917      1
22       NaN  NaN NaN  1411.3  0.0  6020381  1917      1
26       NaN  NaN NaN   937.0  0.0  6160465  1917      1
61       NaN  NaN NaN  1022.8  0.0  3030856  1917      1
68       NaN  NaN NaN  1164.9  0.0  4011090  1917      1
...      ...  ...  ..     ...  ...      ...   ...    ...
1499602  NaN  NaN NaN   756.7  0.0  305PE6R  2000     11
1499629  NaN  NaN NaN   368.8  0.0  8404340  2000     11
1499633  NaN  NaN NaN   747.2  0.0  40190LN  2000     11
1499634  NaN  NaN NaN   676.3  0.0  3057673  2000     11
1499639  NaN  NaN NaN   862.9  0.0  2204155  2000     11

[26029 rows x 8 columns]

In [29]:
# Treats '######' as a null value for the column 'P'
canada_df['P'] = np.where(canada_df['P'] == '######',np.nan,canada_df['P'])

In [ ]:
# Changes the data type of 'P' to float
canada_df['P'] = canada_df['P'].astype(float)

In [33]:
# turns the indexs of the rows with missing 'P' values into a list
missing_P_idx = list(canada_df[canada_df['P'] != canada_df['P']].index)

In [35]:
# Makes a pivot table showing the average 'P' by station and month
P_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'P'))

In [36]:
# Replaces missing values in 'P' with the avgearge based on month and station

for idx in missing_P_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_P = P_pt.loc[station,month]    
            
            if avg_P == avg_P:
                canada_df.at[idx,'P'] = avg_P
          
        # some staions have null values for a month , so using the average 'P in the entire dataframe for that month 
            elif avg_P != avg_P:
                canada_df.at[idx,'P'] = canada_df.groupby('Month')['P'].mean()[month]
                
# some stations have no data for 'P', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'P'] =canada_df.groupby('Month')['P'].mean()[month]

In [38]:
# turns the indexs of the rows with missing 'Pd' values into a list
missing_Pd_idx = list(canada_df[canada_df['Pd'] != canada_df['Pd']].index)

In [37]:
# Makes a pivot table showing the average 'Pd' by station and month
Pd_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'Pd'))

In [39]:
# Replaces missing values in 'Pd' with the avgearge based on month and station

for idx in missing_Pd_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_Pd = Pd_pt.loc[station,month]    
            
            if avg_Pd == avg_Pd:
                canada_df.at[idx,'Pd'] = avg_Pd
          
        # some staions have null values for a month , so using the average 'Pd in the entire dataframe for that month 
            elif avg_Pd != avg_Pd:
                canada_df.at[idx,'Pd'] = canada_df.groupby('Month')['Pd'].mean()[month]
                
# some stations have no data for 'Pd', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'Pd'] =canada_df.groupby('Month')['Pd'].mean()[month]

In [40]:
# turns the indexs of the rows with missing 'DwP' values into a list
missing_DwP_idx = list(canada_df[canada_df['DwP'] != canada_df['DwP']].index)

In [41]:
# Makes a pivot table showing the average 'Pd' by station and month
DwP_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'DwP'))

In [42]:
# Replaces missing values in 'DwP' with the avgearge based on month and station

for idx in missing_DwP_idx:
        try:
            station = canada_df.at[idx,'Stn_Name']
            month = canada_df.at[idx,'Month']
            avg_DwP = DwP_pt.loc[station,month]    
            
            if avg_DwP == avg_DwP:
                canada_df.at[idx,'DwP'] = avg_DwP
          
        # some staions have null values for a month , so using the average 'DwP in the entire dataframe for that month 
            elif avg_DwP != avg_DwP:
                canada_df.at[idx,'DwP'] = canada_df.groupby('Month')['DwP'].mean()[month]
                
# some stations have no data for 'DwP', so using the average snowfallin the entire dataframe for that month 
        except:
            canada_df.at[idx,'DwP'] =canada_df.groupby('Month')['DwP'].mean()[month]

In [46]:
# makes a list of all indexs that have a missing 'Tm' value
missing_Tm_idx = list(canada_df[canada_df['Tm'] != canada_df['Tm']].index)

In [47]:
# Averages out the high and low for the month to get the value for the missing monthly average 
for idx in missing_Tm_idx:
    
        canada_df.at[idx,'Tm'] = (canada_df.at[idx,'Tn'] + canada_df.at[idx,'Tx']) / 2

In [52]:
# makes a list of all indexs that have a missing 'DwTm' value
missing_DwTm_idx = list(canada_df[canada_df['DwTm'] != canada_df['DwTm']].index)

In [53]:
# Replaces the missing 'DwTm' values with 0 
for idx in missing_DwTm_idx:
    
        canada_df.at[idx,'DwTm'] = 0

In [54]:
# makes a list of all indexs that have a missing 'DwTx' value
missing_DwTx_idx = list(canada_df[canada_df['DwTx'] != canada_df['DwTx']].index)

In [57]:
# Replaces the missing 'DwTx' values with 0 
for idx in missing_DwTx_idx:
    
        canada_df.at[idx,'DwTx'] = 0

In [59]:
# makes a list of all indexs that have a missing 'Tx' value
missing_Tx_idx = list(canada_df[canada_df['Tx'] != canada_df['Tx']].index)

In [60]:
# Makes a pivot table showing the average 'Pd' by station and month
Tx_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'Tx'))

In [62]:
# Replaces missing values in 'Tx' with the avgearge based on month and station

for idx in missing_Tx_idx:
        station = canada_df.at[idx,'Stn_Name']
        month = canada_df.at[idx,'Month']
        avg_Tx = Tx_pt.loc[station,month]    
            
        canada_df.at[idx,'Tx'] = avg_Tx

In [66]:
# makes a list of all indexs that have a missing 'HDD' and 'CDD' values
missing_HDD_idx = list(canada_df[(canada_df['HDD'] != canada_df['HDD']) & canada_df['CDD'] != canada_df['CDD']].index)

In [67]:
# Makes a pivot table showing the average 'HDD' by station and month
HDD_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'HDD'))

In [68]:
# Makes a pivot table showing the average 'CDD' by station and month
CDD_pt = pd.DataFrame(pd.pivot_table(canada_df, columns='Month', index='Stn_Name', values= 'CDD'))

In [70]:
# Replaces missing values in 'HDD' and "CDD" with the avgearge based on month and station

for idx in missing_HDD_idx:
        station = canada_df.at[idx,'Stn_Name']
        month = canada_df.at[idx,'Month']
        avg_HDD = HDD_pt.loc[station,month]    
        avg_CDD = CDD_pt.loc[station,month]
        
        canada_df.at[idx,'HDD'] = avg_HDD
        
        canada_df.at[idx,'CDD'] = avg_CDD

In [76]:
canada_df.to_csv('./canada_big_df.csv')

In [77]:
canada_df.shape

(1210307, 20)

In [19]:
df = pd.read_csv('canada_big_df.csv')

In [69]:
df.shape

(1210307, 21)

In [4]:
df.drop(columns = 'Unnamed: 0',inplace = True)

In [70]:
df1 = df.loc[:100_000,]

df2 = df.loc[100_001:200_000,]

df3 = df.loc[200_001:300_000,]

df4 = df.loc[300_001:400_000,]

df5 = df.loc[400_001:500_000,]

df6 = df.loc[500_001:600_000,]

In [71]:
df7 = df.loc[600_001:700_000,]

df8 = df.loc[700_001:800_000,]

df9 = df.loc[800_001:900_000,]

df10 = df.loc[900_001:1_000_000,]

df11 = df.loc[1_000_001:1_100_000,]

df12= df.loc[1_100_001:,]

In [72]:
df1.to_csv('canada_big_df_pt1.csv', index=False)

df2.to_csv('canada_big_df_pt2.csv', index=False)

df3.to_csv('canada_big_df_pt3.csv', index=False)

df4.to_csv('canada_big_df_pt4.csv', index=False)

df5.to_csv('canada_big_df_pt5.csv', index=False)

df6.to_csv('canada_big_df_pt6.csv', index=False)

In [73]:
df7.to_csv('canada_big_df_pt7.csv', index=False)

df8.to_csv('canada_big_df_pt8.csv', index=False)

df9.to_csv('canada_big_df_pt9.csv', index=False)

df10.to_csv('canada_big_df_pt10.csv', index=False)

df11.to_csv('canada_big_df_pt11.csv', index=False)

df12.to_csv('canada_big_df_pt12.csv', index=False)