In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Cincy8 = pd.read_csv('Cincinnati2011_2020.csv')
Cincy8.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (33,41,42,43,46,49,51,73,75,89) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,72421093814,2011-01-02T00:23:00,FM-16,7,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
1,72421093814,2011-01-02T00:52:00,FM-15,7,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
2,72421093814,2011-01-02T01:00:00,FM-12,4,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
3,72421093814,2011-01-02T01:52:00,FM-15,7,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
4,72421093814,2011-01-02T02:52:00,FM-15,7,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24

In [6]:

Cincy8['HeavyFog'].value_counts()

Series([], Name: HeavyFog, dtype: int64)